extends layout

block content
  div(class="flex flex-wrap gap-10 mt-10")
    div(class="flex flex-col mr-14 gap-5")
      h1(class="text-5xl font-bold")= title
      p Welcome to #{title}!
    
      a(href='/new')
        button(type='button', class="bg-pink-800 rounded-lg p-3") Make a post!
 
    div(class="flex flex-col flex-grow scrollbar-hide bg-gray-700 p-5 rounded-lg max-w-[800px] max-h-[700px] overflow-y-scroll")
      each message in messages
        div(class="mb-5")
          div(class="flex items-center") 
            div 
              h2= message.user
            div(class="ml-3 text-gray-400")
              small= message.added
          p= message.text
    
        
